<div class="col-lg-6">
	<ul class="list-unstyled">
		<li>
			<a href="/categories.html">全部</a>
		</li>
		{% for cat in site.categories %}
		<li>
			<a href="/categories.html#{{ cat[0] }}">{{ cat[0] }}</a>
		</li>
		{% endfor %}
	</ul>
</div>
<script>
	window.onload = window.onhashchange = function() {
		var hash = location.hash
		if (location.pathname !== "/categories.html" || !hash) {
			return
		}
		var hash = hash.substr(1)
		var doms = document.querySelectorAll('.col-md-8>.list-unstyled>li')
		var arr = Array.prototype.slice.call(doms, 0)
		arr.forEach(element => {
			if(element.className !== hash) {
				element.style.display = 'none'
			} else {
				element.style.display = 'block'
			}
		});
	}
</script>