<!-- Gitalk 评论 start  -->

<!-- Link Gitalk 的支持文件  -->
<script src="//cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
<link href="//cdn.bootcss.com/gitalk/1.2.2/gitalk.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/gitalk/1.2.2/gitalk.min.js"></script>
<div id="gitalk-container"></div>
<script type="text/javascript">
	var gitalk = new Gitalk({
		// gitalk的主要参数
		clientID: `a11325b33fb2a02cba05`,
		clientSecret: `c62656a372aa56d73753e7a67f2985acb5be4f22`,
		repo: `soakit.github.com`,
		owner: 'soakit',
		admin: 'soakit',
		id: md5(location.pathname)
	});
	gitalk.render('gitalk-container');

</script>
<!-- Gitalk end -->
