<div class="col-lg-12">
	<a href="/tags.html" class="btn btn-default btn-sm tag-item">全部</a>
	{% for tag in site.tags %}
	<a href="/tags.html#{{ tag[0] }}" class="btn btn-default btn-sm tag-item">{{ tag[0] }}</a>
	{% endfor %}
</div>
<script>
	function handleTag() {
		var hash = location.hash
		if (location.pathname !== "/tags.html" || !hash) {
			return
		}
		var hash = hash.substr(1)
		var doms = document.querySelectorAll('.col-md-8>.list-unstyled>li')
		var arr = Array.prototype.slice.call(doms, 0)
		arr.forEach(element => {
			if (encodeURIComponent(element.className) !== hash) {
				element.style.display = 'none'
			} else {
				element.style.display = 'block'
			}
		});
	}

	window.addEventListener('hashchange', handleTag);
	window.addEventListener('load', handleTag);
</script>